<div class="sidebar-box ftco-animate">
    <h3>Paragraf</h3>
    <p>
        Unutmayın ki; sadece elektrikli araç kullanmak karbon ayak izinizi sıfırlamaz.
        Kullandığınız elektriğin yenilenebilir kaynaklardan üretilmesi gerçek dönüşümü sağlar.
        CarBook olarak biz, sürdürülebilir bir gelecek için çevreci ulaşım teknolojilerini
        her zaman önceliğimizde tutuyoruz.
    </p>
</div>